# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# FastF1 cache
f1_cache/

# VS Code settings
.vscode/

# Jupyter Notebook files
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db
