.hero{
    background: linear-gradient(to right, #e10600, #111);
    color:white;
    text-align:center;
    padding:80px 20px;
    overflow:hidden;
}

.car{
    font-size:60px;
    position:relative;
    animation: race 5s linear infinite;
}

@keyframes race{
    from{
        left:-100%;
    }
    to{
        left:100%;
    }
}

body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f4f4;
    color:#333;
}

header{
    background:#e10600;
    color:white;
    text-align:center;
    padding:30px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

h2{
    color:#e10600;
}

.card{
    background:#fafafa;
    padding:20px;
    margin:15px 0;
    border-left:5px solid #e10600;
    border-radius:8px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

img{
    width:100%;
    max-width:800px;
    display:block;
    margin:20px auto;
    border-radius:10px;
}

footer{
    text-align:center;
    background:#222;
    color:white;
    padding:15px;
}
